/* ======== BASE STYLES ======== */
/* ============================= */

/* VARIABLES */
:root {
    --main-font: 'Barlow', sans-serif;
    --main-theme-color: #1f357e;
    --second-theme-color: #fdb200;
    --third-theme-color: #3c3c3c;
    --border-theme-color: #e4e4e4;
}

/* BODY */
body{
    font-family: var(--main-font);
    /* padding: 20px 0 0 0; */
}
.hide_on_menu_opened{
    display: none;
}
.button{
    display: inline-block;
    padding: 6px 20px;
    /* width: 130px;
    height: 36px; */
    color: #fff;
    text-align: center;
    /* line-height: 36px; */
    text-transform: uppercase;
    background-color: var(--second-theme-color);
    font-weight: 500;
    border-radius: 5px;
}
.button.style2{
    color: var(--second-theme-color);
    background: none;
    border:1px solid var(--second-theme-color);
}
.button:hover{
    text-decoration: none;
    background-color: #eea700;
    color: #fff;
}
.mobile-menu-list {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

/* MAIN SECTION STYLE */
.main-section{
    padding: 75px 0;
}
.bg-grey{
    background-color: #f7f7f7;
}
.section-title{
    color: var(--main-theme-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 54px;
    text-align: center;
}
.section-title span{
    display: inline-block;
    position: relative;
}
.section-title span:after{
    content: "";
    width: 108px;
    height: 3px;
    background-color: var(--second-theme-color);
    position: absolute;
    left: 50%;
    margin-left: -54px;
    bottom: -16px;
}
.fs-18{font-size: 18px;}

header #mv-breadcrumb{
    display: none;
}
#list header #mv-breadcrumb,
#detail header #mv-breadcrumb,
#service-page.service2 header #mv-breadcrumb{
    display: block;
}
/* LAYOUT */
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1310px;
    }
}

/* ALIGNMENT ULTILITIES */
.flx-content-right{
    justify-content: flex-end;
}
.flx-content-center{
    justify-content: center;
}

/* ======== HEADER ======== */
header{
    background-color: #fff;
}
header .menu-bar{
    padding-top: 20px;
    padding-bottom: 20px;
}
header.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;
}
.brd.fixed-top{
    position: fixed;
    top: 99px;
    left: 0;
    width: 100%;
    z-index: 9999999;
}
header div[class^="col-"]{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Menu mobile */
.hidden_menu .language{
    width: 60px;
    margin: 0 auto;
    margin-top: 10px;
}
.hidden_menu .language:after{
    right: 0;
}
.hidden_menu .language:hover .language-list{
    display: unset;
}
.hidden_menu .language-list{
    display: none!important;
    right: 50%;
    margin-right: -71px;
    padding-top: 35px;
    margin-bottom: 30px;
    text-align: left;
}
.hidden_menu .language.opened .language-list{
    display: block!important;
}
.mobile-menu{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../assets/menu-ico.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
.mobile-menu.opened{
    width: 20px;
    height: 20px;
    background: url(../assets/menu-close-ico.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
.menu-bar{
    position: relative;
   z-index: 3 ;
   background-color: white;
}
.hidden_menu {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 99px;
    left: 0;
    bottom: 0;
    z-index: 1;
    will-change: transform;
    -moz-transition: .6s;
    -o-transition: .6s;
    -webkit-transition: .6s;
    transition: .6s;
    -webkit-transform: translate(0,-200%);
    -ms-transform: translate(0,-200%);
    -o-transform: translate(0,-200%);
    transform: translate(0,-200%);
}
.mobile-menu-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
.hidden_menu .menu-body {
    scroll-behavior: smooth;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    height: 100%;
    width: 100%;
    float: left;
    text-align: left;
}
.show_main_menu .hidden_menu {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    -o-transform: translate(0);
    transform: translate(0);
}
.mobile-menu-list > li > a{
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--third-theme-color);
    text-decoration: none;
}
.sub-menu-mobile{
    height: 0;;
    padding-left: 0;
    list-style: none;
    margin-left: -7px;
    overflow: hidden;
}
.mobile-menu-list > li.opened .sub-menu-mobile{
    height: auto;
}
.sub-menu-mobile li {
    border-top: 1px solid #e4e4e4;
    margin-top: 10px;
    padding-top: 7px;
    padding-left: 25px;
    position: relative;
}
.mobile-menu-list .sub-menu-mobile li::before {
    width: 5px;
    height: 5px;
    top: 19px;
    left: 8px;
}
/* Menu desktop */
.menu-item{
    position: relative;
    margin-right: 40px;
}
.menu-item.has-sub::after,
.language::after,
.mobile-menu-list > li.has-sub > a::after{
    content: "";
    display: block;
    width: 13px;
    height: 11px;
    background: url(../assets/dropdown-ico.png);
    position: absolute;
    right: -15px;
    top: 5px;
}
.mobile-menu-list > li.has-sub.opened > a::after,
.hidden_menu .language.opened::after{
    transform: rotate(180deg);
}

.mobile-menu-list > li.has-sub > a::after{
    top: 7px;
}
.language::after{
    top: 7px;
}
.menu-item:hover,
.menu-item.active{
    border-bottom: 2px solid var(--second-theme-color);
    padding-bottom: 8px;
}
.menu-link{
    color: var(--third-theme-color);
    text-transform: uppercase;
    font-weight: 500;
}
.menu-link:hover{
    text-decoration: none;
    color: var(--third-theme-color);
}
.sub-menu,
.language-list {
    display: none;
    padding-top: 38px;
    list-style: none;
    position: absolute;
    background: transparent;
    z-index: 2;
    top: 0;
    right: -9px;
    padding-left: 0;
    min-width: 228px;
    margin-bottom: 0;
}
.menu-item:hover .sub-menu,
.language:hover .language-list{
    display: block;
}
.sub-menu li,
.language-list li,
.mobile-menu-list > li {
    background-color: #fff;
    padding: 14px 14px 14px 30px;
    border-bottom: 1px solid var(--border-theme-color);
    border-right: 1px solid var(--border-theme-color);
    border-left: 1px solid var(--border-theme-color);
    position: relative;
}
.sub-menu li:first-child,
.language-list li:first-child,
.mobile-menu-list > li:first-child{
    border-top: 1px solid var(--border-theme-color);
}
.sub-menu li::before,
.mobile-menu-list li::before{
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: var(--second-theme-color);
    position: absolute;
    left: 14px;
    top: 50%;
    margin-top: -2px;
}
.mobile-menu-list li::before{
    width: 8px;
    height: 8px;
    top: 28px;
    /* margin-top: unset; */
}

.sub-menu li a,
.mobile-menu-list li a{
    color: #363636;;
}

/* LANGUAGE */
.language{
    position: relative;
}
.language:hover{
    cursor: pointer;
}
.language a {
    color: var(--third-theme-color);
    /* line-height: 0.5; */
}

.language > a img {
    margin-right: 5px;
}

ul.language-list {
    min-width: 142px;
}

.language-list li {
    padding: 7px 15px;
}

.language .language-list img {
    margin-right: 15px;
}

/* HERO IMAGE */
#hero{
    height: 375px;
}
#hero .container,
#hero .row,
#hero .txt-wrap{
    height: 100%;
}
.bg-image {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.bg-image>img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    min-width: 100%;
}
.txt-wrap{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#hero .button{
    padding: 10px 28px;
    margin-top: 23px;
    font-size: 19px;
}

#hero .title{
    font-weight: 500;
    color: #fff;
    font-size: 41px;
    line-height: 1.5;
    margin-top: -18px;
    margin-bottom: 5px;
}
#hero .title .highlight{
    color: var(--second-theme-color);
    text-transform: uppercase;
    font-size: 43px;
    font-weight: bold;
}
#hero .sub-title{
    font-size: 24px;
    color: #fff;
    font-weight: normal;
}
#hero .sub-title .highlight{
    display: inline-block;
    height: 3px;
    width: 33px;
    background-color: var(--second-theme-color);
}

/* GIỚI THIỆU */
#intro .bx-img img{
    width: 100%;
}
#intro .section-title{
    margin-bottom: 43px;
    text-align: left;
}
#intro .section-title span::after{
    left: 0;
    margin-left: 0;
}
#intro .section-subtitle{
    font-size: 29px;
    color: #363636;
    line-height: 1.2;
}
#intro .section-highliht{
    color: var(--second-theme-color);
    font-size: 20px;
    line-height: 1.3;
}
#intro .section-text{
    line-height: 1.4;
}
#intro .bx-info{
    padding-left: 79px;
    padding-top: 43px;
}

/* DỊCH VỤ CUNG CẤP */
#service{
    padding-bottom: 55px;
}
#service .col-md-3{
    margin-bottom: 20px;
}
#service .sv-item {
    background-color: #fff;
    height: 100%;
    padding-bottom: 17px;
    box-shadow: 2px 2px 2px #e0e0e0;

}
#service .symbol_wrap{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#service .symbol{
    width: 52px;
}
#service .head{
    width: 100%;
    height: 150;
}
#service .head .img-bg{
    width: 100%;
    z-index: -1;
}
#service .txt{
    font-size: 14px;
    line-height: 1.3;
    color: #545454;
    margin-bottom: 0;
}
#service .body{
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 14px;
}
#service .body h3{
    font-size: 20px;
}

/* First & last box */
#service .col-md-3:first-child .sv-item{
    background: url(../assets/DvHome_1_dinhcu_bg.png);
    background-size: cover;
    position: relative;
    padding: 100px 17px 17px 17px;
}
#service .col-md-3:first-child .label{
   position: absolute;
   top: 17px;
}
#service .col-md-3:first-child .label.icon{
    width: 43px;
    height: 40px;
    background: url(../assets/DvHome_1_dinhcu_ico.png);
    left: 17px;
}
#service .col-md-3:first-child .label.price{
    background-color: #fff;
    right: 17px;
    width: 72px;
}
#service .col-md-3:first-child div[class^="col-"]{
    text-align: center;
}
#service .col-md-3:first-child .dollar{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: var(--third-theme-color);
}
#service .col-md-3:first-child .one-set{
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 8px;
}
#service .col-md-3:first-child h3{
    font-size: 32px;
    color: var(--main-theme-color);
}

#service .col-md-3:last-child .sv-item{
    text-align: center;
    padding: 17px;
}
#service .col-md-3:last-child .button{
    margin-top: 35px;
}
#service .col-md-3:last-child .button:hover{
    background: var(--second-theme-color);
    color: #fff;
}
#service .col-md-3:last-child .more{
    font-size: 56px;
    font-weight: 500;
    color: var(--main-theme-color);
}

/* TIN TỨC NỔI BẬT */
#news .news-item {
    height: 100%;
    padding-bottom: 17px;
    background-color: #fff;
    border: 1px solid var(--border-theme-color);
}
#news .box-text{
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 15px;
}
#news .box-title{
    text-align: center;
}
#news .publish-time{
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}
#news .box-button{
    text-align: center;
    margin-top: 38px;
}
.news-item .box-img{
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%; /* tỉ lệ 16:9 */
}
.news-item .box-img img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.news-item .box-title a{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: var(--third-theme-color);
}
.news-item .box-title span {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: var(--third-theme-color);
}

.news-item .box-title a:hover{
    color: var(--main-theme-color);
    text-decoration: none;
}

/* ======== FOOTER ======== */
footer{
    position: relative;
    overflow: hidden;
}
footer > img{
    position: absolute;
    left: 0;
    top: 0;
}
footer .upper{
    height: 125px;
    background-color: #192a69;
}
footer .upper .mask{
    display: block;
    width: 100%;
    height: 125px;
    background: #0000001c;
    position: absolute;
    top: 0;
}
footer .under{
   padding: 25px 0;
   background-color: #192a69;
}
footer .upper .container,
footer .upper .row{
    height: 100%;
}
footer .upper div[class^="col-"]{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
footer nav a{
    color: #fff;
    margin-left: 45px;
}
footer nav a:hover{
    color: var(--second-theme-color);
    text-decoration: none;
}

.ft-title{
    text-transform: uppercase;
    /* font-size: 23px; */
    color: #c5d1ff;
}
.ft-txt {
    color: #dcdcdc;
    margin-top: 15px;
}
.ft-txt p {
    margin-bottom: 10px;
}

.ft-txt p:last-child {
    margin-bottom: 0;
}

/*
====================
    ABOUT US
====================
*/
.about-section{
    padding: 30px 0;
}
#about #hero{height: 276px;}
#about .section-title{
    text-align: left;
    color: var(--second-theme-color);
    margin-bottom: 40px;
}
#about .section-title span:after{
    left: 0;
    margin-left: 0;
    background-color: #fff;
}
#about .txt-content p{
    color: #c5d1ff;
    margin-bottom: 0;
}
#about .txt-content {
    padding-left: 65px;
}

#about-content .quote{
    width: 356px;
    background-color: var(--second-theme-color);
    padding: 140px 30px 30px;
    position: relative;
}
#about-content .quote:after{
    content: "";
    width: 38px;
    height: 32px;
    position: absolute;
    background: url(../assets/about_ico_quota.png);
    top: 30px;
    left: 30px;
}
#about-content .words{
    color: #fff;
    font-weight: 300;
    font-size: 37px;
    line-height: 1.2;
}
#about-content .quote-desc {
    height: 100%;
    padding: 43px 0;
}

#about-item{
    margin-bottom: -58px;
}
.about-item {
    background-color: #fff;
    border: 1px solid var(--border-theme-color);
    padding: 45px 25px 25px;
    position: relative;
    height: 100%;
}

.about-item p {
    margin-bottom: 0;
}

.about-item .about-ico {
    position: absolute;
    left: 45px;
    top: -32px;
    background-color: #fff;
    padding: 0 5px;
}

.about-item h3 {
    font-size: 26px;
    color: var(--third-theme-color);
}

#about-item > div{
    margin-bottom: 58px;
}

#about-promise h3{
    font-weight: normal;
    font-size: 24px;
    color: var(--second-theme-color);
    /* margin-bottom: 10px; */
}
.promise-img{
    padding-left: 30px;
}
.promise-img > img{
    width: 100%;
}

/*
====================
    BREADCRUMB
====================
*/

#mv-breadcrumb{
    border-top: 1px solid var(--border-theme-color);
    border-bottom: 1px solid var(--border-theme-color);
    height: 40px;
    line-height: 40px;
    background-color: #fff;
}
.br-item:first-child:before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../assets/home-ico.png);
    margin-right: 5px;
}
.br-item{
    margin-right: 5px;
}
.br-item a{
    color: var(--third-theme-color);
}
.br-item a:hover{
    text-decoration: none;
    color: var(--main-theme-color);
}
span.bor {
    margin-left: 5px;
}
.br-item:last-child .bor{display: none;}


/*
====================
    LIST LAYOUT
====================
*/

.main-content {
    padding: 40px 0;
}

.cate-title {
    color: var(--main-theme-color);
    margin-bottom: 25px;
}

#list-layout .news-item .box-title a {
    font-size: 24px;
    font-weight: 500;
}
#list-layout .news-item .box-title a:hover {
  color:#fdb200;
}

#list-layout .news-item{
    margin-bottom: 25px;
}
#list-layout .news-item p {
    color: #9c9c9c;
}
#list-layout .news-item p.txt{
    margin-bottom: 0;
}

.box-meta > span {
    margin-right: 20px;
    font-size: 13px;
}
.box-meta > span:last-child{
    margin-right: 0;
}
.box-meta .location:before{
    content: "";
    display: inline-block;
    width: 12px;
    height: 14px;
    background: url(../assets/news_ico_category.png);
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.box-meta .pubtime:before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../assets/news_ico_date.png);
    margin-right: 10px;
    position: relative;
    top: 2px;
}

/* WIDGET */
.widget{
    margin-bottom: 15px;
}
.widget-title {
    height: 50px;
    background-color: var(--second-theme-color);
    text-align: center;
    color: #fff;
    line-height: 50px;
    font-size: 20px;
    font-weight: 500;
}

#list-cate .widget-body {
    padding: 20px 22px;
    border: 1px solid var(--border-theme-color);
    border-top: none;
}

#list-cate .widget-body ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

#list-cate .widget-body ul li {
    border-bottom: 1px solid var(--border-theme-color);
    padding-bottom: 10px;
    margin-bottom: 9px;
}

#list-cate .widget-body ul li a{
    color: initial;
}
#list-cate .widget-body ul li a:hover{
  opacity: 0.6;
}
#list-cate .widget-body ul li.active a{
    color: var(--second-theme-color);
}

#list-cate .widget-body ul li:last-child {
    padding-bottom: 0;
    border: none;
    margin-bottom: 0;
}
.read-more{
    color: var(--second-theme-color);
    margin-left: 5px;
}
.read-more:hover{
    color: var(--second-theme-color);
}
.read-more:after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    background: url(../assets/news_ico_readmore.png);
    margin-left: 3px;
}
#list-servi .widget-body ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
#list-servi .widget-body ul li{
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #0000001c;
    margin-top: 7px;
    overflow: hidden;
    border-radius: 5px;
    padding-left: 18px;
}
#list-servi .widget-body li img{
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}
#list-servi .widget-body ul li:first-child {
    margin-top: 10px;
}

#list-servi .widget-body ul li a {
    line-height: 80px;
    color: initial;
}

/* PHÂN TRANG */
.pagination{
    justify-content: center;
    align-items: baseline;
    margin-bottom: 30px;
}
.pagination span {
    display: inline-block;
    margin: 0 5px;
}
.pagination span:hover{
    cursor: pointer;
    color: var(--second-theme-color);
}
.pagination span.current {
    border: 1px solid var(--second-theme-color);
    padding: 3px 13px;
    border-radius: 1px;
    color: var(--second-theme-color);
}

.pagination span:first-child::before{
    content: "";
    display: inline-block;
    width: 13px;
    height: 11px;
    background: url(../assets/dropdown-ico.png);
    margin-right: 5px;
    transform: rotate(90deg);
}
.pagination span:last-child:after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 11px;
    background: url(../assets/dropdown-ico.png);
    margin-left: 5px;
    transform: rotate(270deg);
}

/*
====================
    DETAIL LAYOUT
====================
*/
#article-detail{
    margin-top: -15px;
}
#article-detail img{
    max-width: 100%;
}
#article-detail ul{
    list-style: none;
    padding-left: 25px;
}
#article-detail ul li{
    position: relative;
    padding-left: 15px;
}
#article-detail ul li:before{
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: var(--second-theme-color);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 10px;
}

#detail-layout #news{
    margin: 30px 0;
}
#detail-layout .section-title{
    text-align: left;
    font-size: 24px;
    margin-bottom: 35px;
}
#detail-layout .section-title span:after{
    left: 0;
    margin-left: 0;
}

/*
====================
    CONTACT LAYOUT
====================
*/
#contact  #hero{
    border-top: 1px solid var(--border-theme-color);
    height: 350px;
}
#contact-layout{
    padding: 30px 0 50px 0;
}
.form-contact{
    margin-bottom: 30px;
}
.form-contact .button:hover{
    color: #fff;
}
#contact-layout .subtitle{
    color: var(--second-theme-color);
}
#contact-layout .address p{
    position: relative;
    margin-bottom: 30px;
    padding-left: 25px;
    line-height: 1.3;
}

#contact-layout .address p img{
    position: absolute;
    top: 0;
    left: 0;
}

/*
====================
    SERVICE 1 LAYOUT
====================
*/
#service-page #hero{
    height: 260px;
}
#service-page .txt-wrap{
    justify-content: center;
}
#service-page #hero .title{
    font-size: 47px;
    text-transform: uppercase;
    color: var(--second-theme-color);
    margin-bottom: 0;
}
#service-page #hero .subtitle{
    color: #fff;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    font-size: 20px;
}

#service-layout .container{
    padding-left: 60px;
}
#service-layout .button{
    padding: 6px 18px;
}
.sv-img img{
    max-width: 100%;
    box-shadow: 0px 0px 3px 3px #e4e4e4;
}

.vtAlign{
    display: flex;
    align-items: center;
}

.sv-title{
    border-bottom: 3px solid var(--second-theme-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.price-num {
    color: var(--second-theme-color);
    display: block;
    font-size: 30px;
    line-height: 1.1;
}
.price-tag{
    align-items: baseline;
}
.align-right{
    text-align: right;
}
#service-layout > .container > .row{
    margin-bottom: 50px;
}

.sidebar-list-new li {
    height: 50px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.sidebar-list-new a{
    color: initial;
}

/*
====================
    SERVICE 2 LAYOUT
====================
*/
#service2-layout #list-servi .widget-title{
    width: 100%;
    height: 80px!important;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background: none;
    line-height: 80px;
    margin-top: 0;
    margin-bottom: 10px;
}
#service2-layout #list-servi .widget-title img{
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}
#service2-layout #list-servi .widget-body ul li{
    height: 60px;
    display: flex;
    flex: 1;
    align-items: center;
}
#service2-layout #list-servi .widget-body  a {
    text-decoration: none;
    color: initial;
}
#service2-layout .unit{
    font-style: italic;
}
#service2-layout h4{
    color: var(--main-theme-color);
}

#service2-layout .txt-wrap {
    align-items: flex-end;
    justify-content: flex-start;
}
#service2-layout .txt-content {
    padding: 15px;
}
#service2-layout .subtitle {
    text-align: left!important;
}
.box-price-tag{
    margin: 20px 0;
}
.box-price-tag .unit{
    margin: 20px 0;
}
.list-ulti {
    margin-top: 20px;
}
.list-ulti .box-img{
    border-radius: 5px;
    margin-bottom: 5px;
}
.border-box {
    border: 3px solid var(--second-theme-color);
    padding: 10px;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

#payment .row > div p{
    padding-left: 30px;
    position: relative;
}
#payment .row > div p img{
    left: 0;
    top: 0;
    position: absolute;
}








/*
==================================================
==================================================
                    RESPONSIVE
==================================================
==================================================
*/
@media only screen and (max-width: 1024) {

    /* header */
    header .col-md-1{
        display: none!important;
    }
}
@media only screen and (max-width: 767px) {

    /* section */
    .main-section{
        padding: 40px 0;
    }
    .section-title {
        font-size: 30px;
        margin-bottom: 50px;
    }

    /* header */
    header .col-md-1{
        display: none!important;
    }
    .button{
        padding: 5px 15px;
    }

    /* hero */
    #hero{
        height: auto;
    }
    #hero > a > img{
        position: static;
        width: 100%;
    }
    #home-page #hero .container{
        display: none;
    }

    #about #hero {
        height: 236px;
    }

    /* intro */
    #intro .bx-info{
        padding-left: 0;
        padding-top: 0;
    }
    #intro .section-title{
        text-align: center;
    }
    #intro .section-title span::after{
        left: 50%;
        margin-left: -54px;
    }
    #intro .bx-img{
        margin-bottom: 10px;
    }

    /* service */
    #service .head{
        height: auto;
    }
    #service .symbol_wrap {
        height: calc(((100vw - 40px) / 2) * 150 / 305);
    }

    #service .body .txt{
        display: none;
    }
    #service .body h3{
        margin-bottom: 0;
        font-size: 1rem;
        text-align: center;
    }
    #service .col-md-3:first-child h3{
        font-size: 24px;
    }
    .col-more-num{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
    #service .col-md-3:first-child .label.price{
        width: 150px;
        padding: 5px;
    }
    #service .col-md-3:first-child .dollar{
        font-size: 20px;
    }
    #service .col-md-3:first-child .one-set{
        padding-bottom: 0;
        padding-left: 0;
    }
    #service .col-md-3:last-child .sv-item{
        text-align: left;

    }
    #service .col-md-3:last-child .sv-item .button{
        margin-top: 15px;

    }

    /* News */
    #news .news-item{
        padding: unset;
    }
    #news .section-body > div[class^="col-"]{
        margin-bottom: 20px;
    }
    #news .section-body > div[class^="col-"]:last-child{
        margin-bottom: 0;
    }
    #news .news-item .box-text{
        padding-left: 0;
        padding-top: 5px;
        padding-right: 10px;
    }
    #news .news-item .box-title{
        line-height: 1.1;
        margin-bottom: 5px;
        text-align: left;
    }
    #news .news-item .col-7{
        padding-left: 0;
    }
    #news .news-item .box-title a{
        -webkit-line-clamp: 3; /* Giới hạn title 3 dòng */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        font-size: 16px;
    }
    #news .publish-time {
        text-align: left;
        margin-top: 0;
    }

    /* footer */
    footer .under{
        padding-bottom: 0;
    }
    footer .under div[class^="col-"]{
        margin-bottom: 40px;
    }

    footer .upper .col-md-10{
        align-items: flex-start!important;
    }
    footer .flx-content-right{
        justify-content: flex-start;
    }
    footer nav a{
        margin-right: 15px;
        margin-left: 0;
        white-space: nowrap;
        font-size: 14px;
    }
    footer nav a:last-child{
        margin-right: 0;
    }

    /* About page */
    #about #hero .container{
        display: block;
    }
    #about .txt-content{
        padding-left: 0;
    }

    #about-content .quote{
        width: 100%;
        padding: 60px 30px 30px 70px;
    }
    #about-content .words{
        font-size: 32px;
    }
    #about-content .quote-desc{
        padding: unset;
        margin-top: 15px;
    }
    #about-item {
        margin-bottom: -88px;
    }
    .promise-img{
        padding-left: 0;
    }
    #about-promise h3{
        font-size: 18px;
    }
    .line-btton{
        text-align: center;
    }

    /* detail layout */
    .detail-title{
        font-size: 2rem;
    }
    #the-content{
        margin-top: 15px;
    }
    #the-content h2{
        font-size: 1.7rem;
    }


    /* list layout */
    #list-layout{
        padding: 20px 0;
    }
    #list-layout .box-img{
        margin-bottom: 10px;
    }
    #list-layout .txt{
        display: none;
    }
    #list-layout .box-title{
        line-height: 0.7;
        position: relative;
        top: -5px;
    }
    #list-layout .box-title a{
        font-size: 16px!important;
    }
    .list-news .news-item .col-md-8{
        padding-left: 0;
    }
    .box-meta > span {
        display: block;
        margin-right: 0;
        margin-bottom: 5px;
    }

    #detail-layout .box-meta > span {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 0;
    }

    p.box-meta {
        margin-bottom: 0;
    }

    .box-meta > span:last-child {
        margin-bottom: 0;
    }

    /* service page */
    #service-layout .container{
        padding-left: 10px;
    }
    .sv-img{
        text-align: center!important;
    }
    #service-layout > .container > .row{
        margin-bottom: 0;
    }
    #service-layout > .container > .row > div{
        margin-bottom: 30px;
    }
    #service-page #hero .title{
        font-size: 24px;
        text-align: center;
    }
    #service-page #hero .subtitle{
        font-size: 16px;
    }

    /* service page 2 */
    .list-ulti .col-6:first-child{
        padding-right: 15px;
    }
    #service2-layout #list-servi .widget-body ul li{
        display: table-cell;
        padding: 0 15px;
    }
    #service2-layout #list-servi .widget-body li img{
        height: 100%;
        width: auto;
    }
    #service2-layout #list-servi .widget-body ul{
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .list-ulti .news-item{
        margin-bottom: 10px;
    }
    #service .row{
        padding-left: 6px;
        padding-right: 6px;
    }
    #service .col-md-3{
        padding-left: 6px;
        padding-right: 6px;
    }
    #service .sv-item {
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
    }

    #service .body {
        flex: 1;
       justify-content: center;
       align-items: center;
       padding-top: 10px;
       padding-bottom: 10px;
       text-align: center;
    }

    #service .body h3{
        font-size: 13px;
    }
    #service .symbol{
        width: 30px;
    }
    #service .col-md-3:first-child .sv-item{
        padding: 80px 17px 17px 17px;
    }
    .news-item .box-title span {
        font-weight: 400;
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    #news .publish-time {
        font-weight: 300;
        font-size: 12px;
    }
    #news .news-item .box-text {
        padding: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 5px;
    }
    footer .logo-footer {
        height: 50px;
    }
    footer .flx-content-right {
        display: none !important;
    }
    footer .upper, footer .upper .mask {
        height: 70px;
    }
    #service2-layout #list-servi .widget-body ul li {
        display: inline-block;
        width: 170px !important;
        height: 50px !important;
        margin-right: 8px;
        line-height: normal;
        margin-bottom: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
        padding-left: 8px;

    }
    #service2-layout #list-servi .widget-body ul li span {
        display: inline-block;
        font-size: 14px;
        margin-bottom: auto;
        position: absolute;
        bottom: 8px;
    }
    #service2-layout #list-servi .widget-body .title-active {
        height: 70px !important;
    }
    #list-layout .box-img {
        height: 100%;
        margin-bottom: 0;
    }
    #list-layout .box-img img{
        height: 100px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .sidebar-list-new li {
        height: 50px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .sidebar-list-new a{
        color: initial;
    }
  }

  @media only screen and (max-width: 375px){
      header .button {
          padding: 5px 7px;
          font-size: 12px;
      }
      footer nav a{
          font-size: 14px;
          margin-right: 6px;
      }
      footer nav a:last-child{
          margin-right: 0;
      }

    }

  @media (min-width: 768px){
      .promise-txt .button {
          display: inline-block !important;
      }
  }

  .widget-title a:hover {
    text-decoration: none;
}
.widget-title span {
    color: white;
}
.widget-body li a {
    text-decoration: none;
}

.title-active {
    text-align: left;
}

  header {
    border-bottom: 1px solid #ececec;
}
.img-bg {
    transition: transform .5s ease;
}
#service .head{
    overflow: hidden;
}
.card-service-home{
    text-decoration: none !important;
    color: var(--third-theme-color);
}
.card-service-home:hover{
    color: var(--third-theme-color);
}
.card-service-home:hover .img-bg{
    transform: scale(1.2);
}

.card-new-home{
    text-decoration: none !important;
    color: var(--third-theme-color);
}
.card-new-home:hover{
    color: var(--third-theme-color);
}
.card-new-home:hover .img-bg{
    transform: scale(1.2);
}


.hover-shadow:hover {
  opacity: 0.8;
  transform: scale(1.03);
  transition: transform 0.2s ease;
}
